<template>
  <div>
    <highcharts :options="chartOptions" :highcharts="hcInstance"></highcharts>
  </div>
</template>

<script>
import { Chart } from "highcharts-vue";
import Highcharts from "highcharts";

Highcharts.setOptions({
  chart: {
    type: "column"
  },
  title: {
    text: "Age Range Head Count"
  },
  xAxis: {
    type: "category",
    labels: {
      rotation: -45,
      style: {
        fontSize: "13px",
        fontFamily: "Verdana, sans-serif"
      }
    },
    title: {
      text: "Age Range"
    }
  },
  yAxis: {
    min: 0,
    title: {
      text: "No. of people"
    }
  },
  legend: {
    enabled: false
  },
  tooltip: {
    pointFormat: "Number of people: <b>{point.y:1f}</b>"
  }
});

export default {
  name: "ByAgeRange",
  data() {
    return {
      reports: [],
      hcInstance: Highcharts,
      chartOptions: {
        series: [
          {
            name: "Age Range",
            data: [],
            dataLabels: {
              enabled: true,
              rotation: -90,
              color: "#FFFFFF",
              align: "right",
              format: "{point.y:1f}", // one decimal
              y: 10 // 10 pixels down from the top
            }
          }
        ]
      }
    };
  },
  mounted() {
    this.reports = this.$props.data;
    this.getDataByAgeRange();
  },
  props: {
    data: Array
  },
  components: {
    highcharts: Chart
  },
  methods: {
    getByAge(ageLow, ageHigh) {
      let $data = this.reports.filter(
        x => parseInt(x.age) >= ageLow && parseInt(x.age) <= ageHigh
      );
      return $data;
    },
    getDataByAgeRange() {
      let $data = [];
      $data.push([`0-20`, this.getByAge(0, 20).length]);
      $data.push([`21-40`, this.getByAge(21, 40).length]);
      $data.push([`41-60`, this.getByAge(41, 60).length]);
      $data.push([`61-80`, this.getByAge(61, 80).length]);
      $data.push([`81-100`, this.getByAge(81, 100).length]);
      this.chartOptions.series[0].data = $data;
      return $data;
    }
  }
};
</script>

<style>
</style>