<template>
  <div>
    <highcharts :options="chartOptions" :highcharts="hcInstance"></highcharts>
  </div>
</template>

<script>
import { Chart } from "highcharts-vue";
import Highcharts from "highcharts";

Highcharts.setOptions({
  chart: {
    type: "column"
  },
  title: {
    text: "Number of People Per Age Range"
  },
  xAxis: {
    type: "category",
    labels: {
      rotation: -45,
      style: {
        fontSize: "13px",
        fontFamily: "Verdana, sans-serif"
      }
    }
  },
  yAxis: {
    min: 0,
    title: {
      text: "No. of people"
    }
  },
  legend: {
    enabled: false
  },
  tooltip: {
    pointFormat: "Number of people: <b>{point.y:1f}</b>"
  }
});

export default {
  name: "ByBG",
  data() {
    return {
      reports: [],
      categories: ["A+", "A-", "B+", "B-", "AB+", "AB-", "O+", "O-"],
      hcInstance: Highcharts,
      chartOptions: {
        series: [
          {
            name: "By Blood Group",
            data: [],
            dataLabels: {
              enabled: true,
              rotation: -90,
              color: "#FFFFFF",
              align: "right",
              format: "{point.y:1f}", // one decimal
              y: 10// 10 pixels down from the top
            }
          }
        ]
      }
    };
  },
  mounted() {
    this.reports = this.$props.data;
    this.getDataByBloodGroup();
  },
  props: {
    data: Array
  },
  components: {
    highcharts: Chart
  },
  methods: {
    getByBloodGroup(group) {
      return this.reports.filter(x => x.blood_group == group);
    },
    getDataByBloodGroup() {
      let $data = [];
      this.categories.forEach(group => {
        let groupedData = this.getByBloodGroup(group);
        $data.push([group, groupedData.length]);
      });
      this.chartOptions.series[0].data = $data;
    }
  }
};
</script>

<style>
</style>