<template>
  <div id="app">
    <div v-if="reports.length > 0">
      <by-b-g :data="reports" />
      <by-age-range :data="reports" />
    </div>
    <div v-else>
      <h4>Loading....</h4>
    </div>
  </div>
</template>

<script>
import ByAgeRange from "./components/ByAgeRange.vue";
import ByBG from "./components/ByBG.vue";

export default {
  name: "App",
  data() {
    return {
      reports: []
    }
  },
  async mounted() {
    if (!localStorage.getItem("reports")) {
      this.reports = await this.getData();
      localStorage.setItem("reports",JSON.stringify(this.reports));
    } else {
      this.reports = JSON.parse(localStorage.getItem("reports"));
    }
  },
  components: {
    ByAgeRange,
    ByBG
  },
  methods: {
    async getData() {
      try {
        let data = [];
        const snapshot = await this.$db.collection("reports").get();
        snapshot.forEach(doc => {
          data.push(doc.data());
        });
        return data;
      } catch (error) {
        console.log("Error getting documents: ", error);
      }
    }
  }
};
</script>

<style>
</style>
